:root {
  --cor1: #012840;
  --cor2: #033159;
  --cor3: #657d8c;
  --cor4: #c1d0d9;
  --cor5: #e4f0f2;
  --cor7: #f2f2f2;
  --cor8: #79818c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

#subBody {
  display: flex;
}

header {
  background-color: var(--cor2);
  color: #f2790f;
  font-family: Arial, sans-serif;
  padding: auto;
  text-align: left;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px black;
  text-shadow: 3px 3px 3px black;
  margin: 0;
}

header h2 {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
}

nav ul {
  list-style-type: none;
  padding-bottom: 6px;
}

nav ul li {
  display: inline;
  padding-left: 13px;
}

nav ul li a {
  color: var(--cor7);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
main {
  padding: 20px;
}

main h2 {
  font-family: Arial, Helvetica, sans-serif/*"Times New Roman", Times, serif*/;
  color: #012840;
}

main h3 {
  font-family: Arial, Helvetica, sans-serif/*"Times New Roman", Times, serif*/;
  color: #f2790f;
}

main p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

#passo1 {
  height: 200px;
  width: 100%;
}

#passo2 {
  height: 500px;
  width: 100%;
}

.content {
  margin-left: 70px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor2);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  height: 500px;
  width: 450px;
}

fieldset h2 {
  color: #f2790f;
  padding-bottom: 20px;
}

label[for="textInput"] {
  color: var(--cor7);
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #f2790f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.text {
  flex: 1;
  padding-right: 20px;
}

#qrcode {
  margin-top: 30px;
  display: block;
  text-align: center;
}
